body{
    background-color: rgb(244, 125, 101);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    width: 80px;
    font-size: 15px;
    color: rgb(247, 241, 241);
    height: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;
    background-color: rgb(22, 22, 3);;
    }
    .btns{
        text-align: center;
    }
    .container{
        color: rgb(193, 77, 77);
        border: 2px solid;
        border-color: rgb(191, 127, 255);
        border-radius: 12px;
        background-color: antiquewhite;
        align-items: center;
        width: 400px;
        height: auto;
        text-align: center;

    }
    .txt{
        color: rgb(14, 18, 18);
    }
/*#sbutton{
    background-color: rgb(140, 172, 66);
}
#pbutton{
    background-color: rgb(145, 145, 91);
}
#rbutton{
    background-color: rgb(255, 127, 127);
}